.movie-container {
    display: flex;
    flex-direction: column;
    /* column : vertical */
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: 275px;
    height: 575px;
    margin-left: 1rem;
    background: rgba(223, 223, 223, 0.07);
    box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.movie-container:hover {
    transform: scale(1.05);
}

.movie-container h3 {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 1rem 0rem 0rem 0rem;
    flex-grow: 1;
}

.movie-image {
    width: 90%;
    min-height: 330px;
    max-height: 330px;
    border-radius: 8px;
    object-fit: cover;
}

.movie-ar-tp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 1rem;
    border-radius: 14px;
    background: rgb(231, 230, 230);
}

.movie-age-rating, .movie-ticket-price {
    text-align: center;
    font-size: 15px;
    padding: 0.3rem 0rem;
}

.more-details-btn {
    width: 80%;
    margin: 1rem 0rem 1rem 0rem;
    background-color: var(--darkgreen-color);
    border-radius: 26px;
    font-size: 20px;
    cursor: pointer;
    padding: 0.7rem 1rem;
    color: white;
    transition: background-color 0.3s ease;
}

.more-details-btn:hover {
    background-color: var(--darkgreen-hover);
}