.footer {
    display: flex;
    flex-direction: column;
    /* column : vertical */
    justify-content: space-between;
    bottom: 1;
    width: 100%;
    padding: 20px 70px; /* top bottom left right */
    /* top right bottom left */
    height: 280px;
    color: #fff;
    line-height: 30px;
    background-color: var(--darkgreen-color);
    /* make footer sticky to bottom */
    position: absolute;
}

.content {
    display: flex;
    flex-direction: row;
    /* row : horizontal */
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
}

.content-office {
    margin-top: 15px;
}

.office-address {
    margin-top: 10px;
}

.phone-email {
    display: flex;
    flex-direction: row;
    /* row : horizontal */
    gap: 100px;
}

.content-social h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ig {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
}

.ig a {
    color: inherit;
}

.twt {
    display: flex;
    flex-direction: row;
    gap: 5px
}

.twt a {
    color: inherit;
}

.back-to-top {
    padding-top: 160px
}

.back-to-top a {
    color: inherit;
}

.back-to-top a:hover {
    color: #a8a8a8;
}

.phone p {
    margin-top: 2px;
}