/* :root {
    --darkgreen-color: #006666;
    --darkgreen-hover: #004a4a;
    --green-color: #3BB938;
    --yellow-color: #E7EC00;
    --red-color: #B93838;
    --gray-color: #A8A8A8;
    --darkred-color: #660000;
    --darkred-hover: #4a0000;
    --linkblue-color: #3366CC;
} */

.buy-ticket-container {
    padding: 55px 266px 133px 266px;
    display: flex;
    flex-direction: column;
    /* column : vertical */
    justify-content: center;
}

.seat-color-info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.available-info,
.selected-info,
.unavailable-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.buy-ticket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: -150px;
}

.buy-ticket-content p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    background-color: gray;
    border-radius: 11px;
    padding: 10px 350px;
}

.seats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
}

.seats-row-1,
.seats-row-2,
.seats-row-3,
.seats-row-4 {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.left-seats,
.right-seats {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.seat {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--green-color);
    cursor: pointer;
}

.seat:hover {
    border: 1px solid black;
}

.selected-seat {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--yellow-color);
    cursor: pointer;
}

.selected-seat:hover {
    border: 1px solid black;
}

.unavailable-seat {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--red-color);
    /* border: 1px solid var(--darkred-color); */
    cursor: not-allowed;
}

.buy-ticket-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.buy-ticket-footer-left {
    font-size: large;
}

.confirm-order-button {
    display: flex;
    flex-direction: row;
    /* row : horizontal */
    justify-content: space-between;
    border-radius: 11px;
    gap: 5px;
    margin-bottom: 60px;
    padding: 1rem;
    font-size: 20px;
    color: white;
    background-color: var(--darkgreen-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-order-button:hover {
    background-color: var(--darkgreen-hover);
}